body{
	margin: 0px;
	padding: 0px;
	background:#861822 url(../img/fondo.png) repeat;
	color: white;
}

#love{
	background: url(../img/love_me.png) no-repeat;
	background-size: contain;
	width: 121px;
    height: 92px;
    position: absolute;
    top: -20px;
    right: -9px;
	
}

#mm_verde{
	background: url(../img/chocolates.png) no-repeat;
	background-size: contain;
	width: 163px;
    height: 167px;
    position: absolute;
    bottom: -53px;
    left: -4px;
}

#mm_rojo{
	background: url(../img/mms.png) no-repeat;
	background-size: contain;
	width: 190px;
    height: 156px;
    position: absolute;
    bottom: -50px;
    right: -21px;
}

@media (max-width: 480px) {
	
	#love{
		background-size: contain;
		width: 70px;
		height: 53px;
		top: -12px;
		right: 5px;
		}
	
	#mm_rojo{
		background-size: contain;
		width: 90px;
		height: 104px;
		bottom: -55px;
		right: 0px;
		}
		
	#mm_verde{
		background-size: contain;
		width: 70px;
		height: 88px;
		bottom: -35px;
		left: 15px;
		}
	
    }
    

#redes_sociales{
	background:  url(../img/rrss.png) no-repeat;
	background-size: contain;
	width: 256px;
    height: 48px;
    margin: 0 auto;	
}

#twitter{
	width: 23px;
    height: 23px;
    position: relative;
    float: left;
    top: 13px;
    left: 4px;
	/*
	background: white;
	opacity: 0.3;
	*/
}

#instagram{
	width: 23px;
    height: 23px;
    position: relative;
    float: left;
    top: 13px;
    left: 24px;
	/*
	background: white;
	opacity: 0.3;
	*/
}

#facebook{
	width: 23px;
    height: 23px;
    position: relative;
    float: left;
    top: 13px;
    left: 44px;
	/*
	background: white;
	opacity: 0.3;
	*/
}

#youtube{
	width: 23px;
    height: 23px;
    position: relative;
    float: left;
    top: 14px;
    left: 67px;
	/*
	background: white;
	opacity: 0.3;
	*/
}